Flask==2.3.2
sentence-transformers>=2.2.2
torch==2.0.1  # Use the default torch version without the +cpu
faiss-cpu==1.7.3
nltk==3.9.0
requests==2.31.0
beautifulsoup4==4.12.2
numpy==1.20.3 --only-binary=:all:  # Force using pre-built binaries
